.app {
  text-align: center;
  background-color: rgba(56, 43, 34, 0.5);
  justify-content: center;
  align-items: center;
}

.background {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 5px;
}

.app-title {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: seashell;
}
