.charts-container {
  display: flex;
  flex-direction: column;
  margin: 80px;
  height: 100;
  width: 100;
  /* margin-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 10px; */
  padding-bottom: 5px;
}

.posChart {
  border-radius: 5px;
  color: cornsilk;
  background-color: rgba(23, 54, 67, 0.8);
  text-align: left;
  padding-bottom: 5px;
  margin-top: 10px;
  /* margin-left: 200px; */
  /* margin-right: 200px; */
  margin-bottom: 10px;
  /* color: aliceblue; */
}

.dthChart {
  border-radius: 5px;
  color: cornsilk;
  text-align: left;
  padding-bottom: 5px;
  background-color: rgba(23, 54, 47, 0.8);
  margin-top: 10px;
  /* margin-left: 200px; */
  /* margin-right: 200px; */
  margin-bottom: 10px;
}

.incChart {
  border-radius: 5px;
  color: cornsilk;
  text-align: left;
  padding-bottom: 5px;
  background-color: rgba(23, 40, 80, 0.8);
  margin-top: 10px;
  /* margin-left: 200px; */
  /* margin-right: 200px; */
  margin-bottom: 10px;
}
h3 {
  margin-left: 8px;
  margin-bottom: 5px;
}
