.charts-container {
  display: flex;
  color: cornsilk;
  flex-direction: column;
  margin: 80px;
  height: 100;
  width: 100;
  /* margin-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 10px; */
  padding-bottom: 5px;
}

.posChart {
  border-radius: 5px;
  /* color: cornsilk; */
  /* background-color: rgba(23, 54, 67, 0.8); */
  background-color: rgba(24, 58, 73, 0.8);
  text-align: left;
  padding-bottom: 5px;
  margin-top: 10px;
  /* margin-left: 200px; */
  /* margin-right: 200px; */
  margin-bottom: 10px;
  /* color: aliceblue; */
}

.posChartChange {
  border-radius: 5px;
  /* color: cornsilk; */
  /* background-color: rgba(23, 54, 67, 0.8); */
  background-color: rgba(26, 62, 63, 0.8);
  text-align: left;
  padding-bottom: 5px;
  margin-top: 10px;
  /* margin-left: 200px; */
  /* margin-right: 200px; */
  margin-bottom: 10px;
  /* color: aliceblue; */
}

.dthChart {
  border-radius: 5px;
  /* color: cornsilk; */
  text-align: left;
  padding-bottom: 5px;
  background-color: rgba(63, 18, 7, 0.8);
  margin-top: 10px;
  /* margin-left: 200px; */
  /* margin-right: 200px; */
  margin-bottom: 10px;
}

.dthChartChange {
  border-radius: 5px;
  /* color: cornsilk; */
  /* background-color: rgba(23, 54, 67, 0.8); */
  background-color: rgba(112, 57, 6, 0.8);
  text-align: left;
  padding-bottom: 5px;
  margin-top: 10px;
  /* margin-left: 200px; */
  /* margin-right: 200px; */
  margin-bottom: 10px;
  /* color: aliceblue; */
}

.hospChart {
  border-radius: 5px;
  /* color: cornsilk; */
  /* background-color: rgba(23, 54, 67, 0.8); */
  background-color: rgba(77, 3, 77, 0.8);
  text-align: left;
  padding-bottom: 5px;
  margin-top: 10px;
  /* margin-left: 200px; */
  /* margin-right: 200px; */
  margin-bottom: 10px;
  /* color: aliceblue; */
}

.hospChartChange {
  border-radius: 5px;
  /* color: cornsilk; */
  /* background-color: rgba(23, 54, 67, 0.8); */
  background-color: rgba(99, 19, 52, 0.8);
  text-align: left;
  padding-bottom: 5px;
  margin-top: 10px;
  /* margin-left: 200px; */
  /* margin-right: 200px; */
  margin-bottom: 10px;
  /* color: aliceblue; */
}

.incChart {
  border-radius: 5px;
  /* color: cornsilk; */
  text-align: left;
  padding-bottom: 5px;
  /* background-color: rgba(23, 40, 80, 0.8); */
  background-color: rgba(7, 39, 114, 0.8);
  margin-top: 10px;
  /* margin-left: 200px; */
  /* margin-right: 200px; */
  margin-bottom: 10px;
}
h3 {
  margin-left: 8px;
  margin-bottom: 5px;
}
